<ion-header>

  <ion-navbar color="dark">

    <button ion-button menuToggle start>
      <ion-icon name="menu"></ion-icon>
    </button>
    <div class="swipe-tab-header-wrapper-flexbox">
      <div #headerCards *ngFor="let catagory of categories; let i=index" class="tab-hearder" (click)="slideTo(i)" [ngClass]="{'active': i == activeIndex}">
        <span>{{catagory.title}}</span>
      </div>
    </div>
    
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-slides (ionSlideWillChange)="slideChanged()">
    <ion-slide *ngFor="let category of categories">

      {{category | json}}

    </ion-slide>
  </ion-slides>
</ion-content>
